Repository ritaniks/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "src/**/*.{json,css}": ["prettier --write", ],
    "src/**/*.js": ["prettier --write", "eslint --fix", ]
}

merge landing
  src/assets/css/_custom.scss
  src/assets/css/bootstrap-grid.css
  src/assets/css/bootstrap.css
  src/assets/css/style.css
  src/assets/img/nonprofit/svg/chat.svg
  src/assets/img/nonprofit/svg/check.svg
  src/assets/img/nonprofit/svg/close.svg
  src/assets/img/nonprofit/svg/facebook.svg
  src/assets/img/nonprofit/svg/linkedin.svg
  src/assets/img/nonprofit/svg/logo-grey.svg
  src/assets/img/nonprofit/svg/logo.svg
  src/assets/img/nonprofit/svg/play.svg
  src/assets/img/nonprofit/svg/quote-left.svg
  src/assets/img/nonprofit/svg/twitter.svg
  src/assets/img/nonprofit/svg/wave.svg
  src/assets/img/nonprofit/team-remote-puzzlesV.png
  src/assets/img/nonprofit/team-remote-puzzlesV2.png
  src/components/App.module.scss
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Header/Header.module.scss
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
  src/components/Nonprofit/Main/parts/Reviews.jsx
  src/components/Nonprofit/Main/parts/WaveHero.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
  src/components/Nonprofit/Nonprofit.js
  src/components/Nonprofit/SendMessage/SendMessage.jsx
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
  src/index.js
Due: prettier --write, eslint --fix

Clean global css & some components style
  src/assets/css/_custom.scss
  src/assets/css/custom.scss
  src/assets/css/style.css
  src/components/App.js
  src/components/Header/Header.module.scss
  src/components/Header/parts/NavBar.module.scss
Due: prettier --write, eslint --fix

removed bootsrtap from json
  package.json
Due: none

Fix
  .huskyrc
Due: none

Fix
  src/assets/css/_custom.scss
Due: none

ADD _ structure for WeekView
  src/components/Header/parts/NavBar.module.scss
  src/components/Main/parts/WeekView/WeekView.jsx
  src/components/Main/parts/WeekView/WeekView.module.scss
Due: none

ADD _ top in Main -> architecture
  src/components/Main/parts/WeekView/WeekView.jsx
  src/components/Main/parts/WeekView/WeekView.module.scss
  src/components/Main/parts/WeekView/parts/CurrentDayBtn.jsx
  src/components/Main/parts/WeekView/parts/CurrentDayBtn.module.scss
  src/components/Main/parts/WeekView/parts/GroupBtn.jsx
  src/components/Main/parts/WeekView/parts/GroupBtn.module.scss
  src/components/Main/parts/WeekView/parts/OpenChartBtn.jsx
  src/components/Main/parts/WeekView/parts/OpenChartBtn.module.scss
  src/components/Main/parts/WeekView/parts/SelectEmployee.jsx
  src/components/Main/parts/WeekView/parts/SelectEmployee.module.scss
  src/components/Main/parts/WeekView/parts/WeekPicker.jsx
  src/components/Main/parts/WeekView/parts/WeekPicker.module.scss
Due: none

REFACT _ NavBar / CLEAN _ code
  src/components/Header/parts/NavBar.jsx
  src/components/Header/parts/NavBar.module.scss
  src/components/Header/parts/navbarConfig.js
  src/components/Main/parts/RoutesSite.jsx
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/TimeEntry.module.scss
  src/components/Main/parts/TimeEntry/parts/BarChartWeekView.jsx
  src/components/Main/parts/TimeEntry/parts/BarChartWeekView.module.scss
  src/components/Main/parts/TimeEntry/parts/CurrentDayBtn.jsx
  src/components/Main/parts/TimeEntry/parts/CurrentDayBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/DateAndClock.jsx
  src/components/Main/parts/TimeEntry/parts/DateAndClock.module.scss
  src/components/Main/parts/TimeEntry/parts/DayPicker.jsx
  src/components/Main/parts/TimeEntry/parts/DayPicker3.jsx
  src/components/Main/parts/TimeEntry/parts/DayPickerInput2.jsx
  src/components/Main/parts/TimeEntry/parts/DoughnutChartWeekView.jsx
  src/components/Main/parts/TimeEntry/parts/DoughnutChartWeekView.module.scss
  src/components/Main/parts/TimeEntry/parts/GroupBtn.jsx
  src/components/Main/parts/TimeEntry/parts/GroupBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/ModalWeekView.jsx
  src/components/Main/parts/TimeEntry/parts/OneDayPicker.jsx
  src/components/Main/parts/TimeEntry/parts/OneDayPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/OpenChartBtn.jsx
  src/components/Main/parts/TimeEntry/parts/OpenChartBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/SelectEmployee.jsx
  src/components/Main/parts/TimeEntry/parts/SelectEmployee.module.scss
  src/components/Main/parts/TimeEntry/parts/WeekPicker.jsx
  src/components/Main/parts/TimeEntry/parts/WeekPicker.module.scss
  src/components/pages/ExpensesPage.js
  src/components/pages/ReportPage.js
  src/components/pages/TimeEntryPage.js
Due: prettier --write, eslint --fix

clean code
  src/components/Main/parts/WeekView/WeekView.jsx
  src/components/Main/parts/WeekView/WeekView.module.scss
  src/components/Main/parts/WeekView/parts/BarChartWeekView.jsx
  src/components/Main/parts/WeekView/parts/BarChartWeekView.module.scss
  src/components/Main/parts/WeekView/parts/CurrentDayBtn.jsx
  src/components/Main/parts/WeekView/parts/CurrentDayBtn.module.scss
  src/components/Main/parts/WeekView/parts/DateAndClock.jsx
  src/components/Main/parts/WeekView/parts/DateAndClock.module.scss
  src/components/Main/parts/WeekView/parts/DayPicker.jsx
  src/components/Main/parts/WeekView/parts/DayPicker3.jsx
  src/components/Main/parts/WeekView/parts/DayPickerInput2.jsx
  src/components/Main/parts/WeekView/parts/DoughnutChartWeekView.jsx
  src/components/Main/parts/WeekView/parts/DoughnutChartWeekView.module.scss
  src/components/Main/parts/WeekView/parts/GroupBtn.jsx
  src/components/Main/parts/WeekView/parts/GroupBtn.module.scss
  src/components/Main/parts/WeekView/parts/ModalWeekView.jsx
  src/components/Main/parts/WeekView/parts/OneDayPicker.jsx
  src/components/Main/parts/WeekView/parts/OneDayPicker.module.scss
  src/components/Main/parts/WeekView/parts/OpenChartBtn.jsx
  src/components/Main/parts/WeekView/parts/OpenChartBtn.module.scss
  src/components/Main/parts/WeekView/parts/SelectEmployee.jsx
  src/components/Main/parts/WeekView/parts/SelectEmployee.module.scss
  src/components/Main/parts/WeekView/parts/WeekPicker.jsx
  src/components/Main/parts/WeekView/parts/WeekPicker.module.scss
Due: none

REFACT _ arhitecture for app / bugfix
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/TimeEntry.module.scss
  src/components/Main/parts/TimeEntry/parts/+ModalWeekView.jsx
  src/components/Main/parts/TimeEntry/parts/-DayPicker3.jsx
  src/components/Main/parts/TimeEntry/parts/-DayPickerInput2.jsx
  src/components/Main/parts/TimeEntry/parts/AddUser.jsx
  src/components/Main/parts/TimeEntry/parts/AddUser.module.scss
  src/components/Main/parts/TimeEntry/parts/OneDayPicker.jsx
  src/components/Main/parts/TimeEntry/parts/OneDayPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/charts/BarChart.jsx
  src/components/Main/parts/TimeEntry/parts/charts/BarChart.module.scss
  src/components/Main/parts/TimeEntry/parts/charts/DoughnutChart.jsx
  src/components/Main/parts/TimeEntry/parts/charts/DoughnutChart.module.scss
  src/components/Main/parts/TimeEntry/parts/charts/OpenChartBtn.jsx
  src/components/Main/parts/TimeEntry/parts/charts/OpenChartBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/CurrentDayBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/CurrentDayBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/SelectEmployee.jsx
  src/components/Main/parts/TimeEntry/parts/topRight/SelectEmployee.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/WeekPicker.jsx
  src/components/Main/parts/TimeEntry/parts/topRight/WeekPicker.module.scss
Due: none

ADD _ all components in Main->Top / some fix
  package-lock.json
  package.json
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/TimeEntry.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/SelectEmployee.jsx
  src/components/Main/parts/TimeEntry/parts/topRight/SelectEmployee.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/helperSelectEmployee.js
Due: prettier --write, eslint --fix

ADD _ logic for ChartBtn open/close
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/parts/charts/OpenChartBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/SelectEmployee.jsx
Due: none

STYLED _ in hover CurrentDayBtn
  src/components/Main/parts/TimeEntry/parts/topLeft/CurrentDayBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/CurrentDayBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/SelectEmployee.jsx
Due: none

FIX _ Footer -> year (moment.js)
  src/components/App.js
  src/components/Nonprofit/Footer/Footer.jsx
Due: prettier --write, eslint --fix

Fix _ load for optimization two png foto / clean code
  src/assets/img/nonprofit/s1m2nonprofit.png
  src/assets/img/nonprofit/s1m2nonprofit@2x.png
  src/components/Main/parts/TimeEntry/parts/topRight/SelectEmployee.jsx
Due: none

FIX _ topHero -> center
  package.json
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
Due: none

FIX _ centered blocks in Nonprofit/Main
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
Due: none

FIX _ centered blocks in Nonprofit/Main |2
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
Due: none

FIX _ centered blocks in Nonprofit/Main |3
  public/index.html
  src/components/App.js
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
  src/components/Nonprofit/Main/parts/WaveHero.scss
Due: prettier --write, eslint --fix

FIX _ centered blocks in Nonprofit/Main |4
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/WaveHero.scss
Due: none

some fix
  src/assets/css/style.css
  src/assets/css/variables.scss
  src/components/Nonprofit/Main/parts/Hero.module.scss
Due: prettier --write

some fix
  src/assets/img/nonprofit/Firefox Installer.exe
Due: none

Fix master
  public/index.html
Due: none

Fix master
  public/index.html
  src/index.js
Due: prettier --write, eslint --fix

clean code
  src/components/Nonprofit/Main/parts/ImageResize.jsx
Due: none

clean code
  package.json
Due: none

fix footer year
  package-lock.json
  package.json
  src/components/Nonprofit/Footer/Footer.jsx
Due: none

some fix
  package-lock.json
  package.json
Due: none

GLOBAL-STYLE _ for IPhone dont change font-size
  src/assets/css/_custom.scss
  src/assets/css/style.css
  src/components/App.js
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.jsx
Due: prettier --write, eslint --fix

GLOBAL-STYLE _ for IPhone dont change font-size
  src/assets/css/style.css
Due: prettier --write

ADD _ logic for GroupBtn
  src/components/Main/parts/TimeEntry/parts/topLeft/CurrentDayBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.module.scss
Due: none

ADD _ outline for GroupeBtn
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.module.scss
Due: none

STYLED _ btn-s
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/CurrentDayBtn.module.scss
Due: none

ADD _ DayPicker + CurrentDay
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/parts/DayPicker.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/OneDayPicker.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/OneDayPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/WeekPicker.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/WeekPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.jsx
Due: none

REFACT _ GroupBtn
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/OneDayPicker.jsx
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.module.scss
Due: none

ADD _ logic show/hide ChartBtn
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/parts/-DayPicker3.jsx
  src/components/Main/parts/TimeEntry/parts/-DayPickerInput2.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/CurrentDayBtn.module.scss
Due: none
