Repository ritaniks/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

merge
  src/components/App.js
  src/components/Nonprofit/Header/Header.jsx
Due: prettier --write, eslint --fix

merge fix
  .lintstagedrc
Due: none

ADD _ switch to NonProfit and site with business logic / by auth in App.js
  src/components/App.js
  src/components/Main/parts/WeekView/WeekView.jsx
Due: prettier --write, eslint --fix

FIX _ when change date in arrow, dropdown show correct month
  src/components/App.js
  src/components/Main/parts/WeekView/parts/OneDayPicker.jsx
  src/components/Main/parts/WeekView/parts/WeekPicker.jsx
Due: prettier --write, eslint --fix

pre commit
  src/components/App.js
Due: prettier --write, eslint --fix

add picture
  src/assets/css/style.css
  src/assets/img/nonprofit/hero-mobile.png
  src/assets/img/nonprofit/hero-mobile@2x.png
  src/components/Nonprofit/Main/Hero.jsx
  src/components/Nonprofit/Main/Hero.module.scss
  src/components/Nonprofit/Main/HeroImg.jsx
  src/components/Nonprofit/Main/HeroImg.module.scss
  src/components/Nonprofit/Nonprofit.js
Due: prettier --write, eslint --fix

Main Nonprofit
  src/assets/css/style.css
  src/assets/img/nonprofit/hero-mobile@2x.png
  src/assets/img/nonprofit/laptop-grantor.png
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Main/HeroImg.jsx
  src/components/Nonprofit/Main/HeroImg.module.scss
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/Main.module.scss
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
  src/components/Nonprofit/Main/parts/SectionTitle.jsx
  src/components/Nonprofit/Main/parts/SectionTitle.module.scss
  src/components/Nonprofit/Nonprofit.js
Due: prettier --write, eslint --fix

ADD _ footer
  src/assets/css/style.css
  src/assets/img/nonprofit/social/facebook.svg
  src/assets/img/nonprofit/social/linkedin.svg
  src/assets/img/nonprofit/social/twitter.svg
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Footer/Footer.module.scss
  src/components/Nonprofit/Nonprofit.js
  src/components/Nonprofit/Nonprofit.module.scss
Due: prettier --write, eslint --fix

ADD _ reviews carousel
  package-lock.json
  package.json
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Reviews.jsx
  src/components/Nonprofit/Main/parts/Reviews.module.scss
Due: none

STYLE _ slider reviews
  src/components/Nonprofit/Main/parts/Reviews.jsx
  src/components/Nonprofit/Main/parts/Reviews.module.scss
Due: none

CHANGE _ email
  src/assets/css/style.css
  src/components/Nonprofit/Footer/Footer.jsx
Due: prettier --write

REFACT _ Reviews from class to function component / ADD _ logic for responsiv Carousel
  src/components/Nonprofit/Main/parts/Reviews.jsx
Due: none

CHANGE _ support email
  src/components/Nonprofit/Footer/Footer.jsx
Due: none

ADD _ imageHelper
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

ADD _ imports img to imageHelpers
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

Work with sections, fix footer email
  src/assets/css/style.css
  src/assets/img/header/logo-grey.svg
  src/assets/img/nonprofit/dhero.png
  src/assets/img/nonprofit/dhero@2x.png
  src/assets/img/nonprofit/m3customize-voc.png
  src/assets/img/nonprofit/m3customize-voc@2x.png
  src/components/App.js
  src/components/Header/parts/LogoSvg.jsx
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Header/Header.module.scss
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/Main.module.scss
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
  src/components/Nonprofit/Main/parts/Reviews.jsx
Due: prettier --write, eslint --fix

ADD _ title site
  public/index.html
Due: none

Add switcher images / add imports links to helper / Add favicon
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  src/assets/img/nonprofit/d2nonprofit.png
  src/assets/img/nonprofit/d2nonprofit@2x.png
  src/assets/img/nonprofit/d6customizable-legal-attestation.png
  src/assets/img/nonprofit/d6customizable-legal-attestation@2x.png
  src/assets/img/nonprofit/d6customizable.png
  src/assets/img/nonprofit/d6customizable@2x.png
  src/assets/img/nonprofit/m2nonprofit.png
  src/assets/img/nonprofit/m2nonprofit@2x.png
  src/assets/img/nonprofit/m4e-signatures.png
  src/assets/img/nonprofit/m4e-signatures@2x.png
  src/assets/img/nonprofit/m6customizable.png
  src/assets/img/nonprofit/m6customizable@2x.png
  src/assets/img/nonprofit/s1d2nonprofit.png
  src/assets/img/nonprofit/s1d2nonprofit@2x.png
  src/assets/img/nonprofit/s1m2nonprofit.png
  src/assets/img/nonprofit/s1m2nonprofit@2x.png
  src/assets/img/nonprofit/s2d2nonprofit.png
  src/assets/img/nonprofit/s2d2nonprofit@2x.png
  src/assets/img/nonprofit/s2m2nonprofit.png
  src/assets/img/nonprofit/s2m2nonprofit@2x.png
  src/assets/img/nonprofit/s3d2nonprofit.png
  src/assets/img/nonprofit/s3d2nonprofit@2x.png
  src/assets/img/nonprofit/s3m2nonprofit.png
  src/assets/img/nonprofit/s3m2nonprofit@2x.png
  src/assets/img/nonprofit/s4d2nonprofit.png
  src/assets/img/nonprofit/s4d2nonprofit@2x.png
  src/assets/img/nonprofit/s4m2nonprofit.png
  src/assets/img/nonprofit/s4m2nonprofit@2x.png
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

fix eslint
  src/assets/img/nonprofit/s1d2nonprofit.png
  src/assets/img/nonprofit/s1d2nonprofit@2x.png
  src/assets/img/nonprofit/s1m2nonprofit.png
  src/assets/img/nonprofit/s1m2nonprofit@2x.png
  src/assets/img/nonprofit/s2d2nonprofit.png
  src/assets/img/nonprofit/s2d2nonprofit@2x.png
  src/assets/img/nonprofit/s2m2nonprofit.png
  src/assets/img/nonprofit/s2m2nonprofit@2x.png
  src/assets/img/nonprofit/s3d2nonprofit.png
  src/assets/img/nonprofit/s3d2nonprofit@2x.png
  src/assets/img/nonprofit/s3m2nonprofit.png
  src/assets/img/nonprofit/s3m2nonprofit@2x.png
  src/assets/img/nonprofit/s4d2nonprofit.png
  src/assets/img/nonprofit/s4d2nonprofit@2x.png
  src/assets/img/nonprofit/s4m2nonprofit.png
  src/assets/img/nonprofit/s4m2nonprofit@2x.png
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.module.scss
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

ADD _ view for img in NonProfitOrganization
  src/components/Nonprofit/Main/parts/ImageResize.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.module.scss
  src/components/Nonprofit/Main/parts/Reviews.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

REFACT _ ImageResize
  src/components/Nonprofit/Main/parts/ImageResize.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

REFACT _ imageHelper
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

some fix
  src/components/Nonprofit/Main/parts/Reviews.jsx
Due: none

Add images
  src/assets/img/nonprofit/d1grantor.png
  src/assets/img/nonprofit/d1grantor@2x.png
  src/assets/img/nonprofit/d4e-signatures.png
  src/assets/img/nonprofit/d4e-signatures@2x.png
  src/assets/img/nonprofit/d5time-entry.png
  src/assets/img/nonprofit/d5time-entry@2x.png
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/Main.module.scss
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
Due: none

Fixed merge conflict
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

FIX _ Reviews / REFACT _ ImageResize
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/ImageResize.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

some style refact
  src/assets/css/style.css
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Footer/Footer.module.scss
Due: prettier --write

REFACT _ NonProfitOrganization border
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.module.scss
Due: none

Changed colors root
  src/assets/css/style.css
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/Main.module.scss
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
Due: prettier --write

FIX _ noWrap
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
Due: none

Styled H3
  src/components/Nonprofit/Main/Main.module.scss
Due: none

Fixed Footer/added root black color
  src/assets/css/style.css
  src/components/Nonprofit/Footer/Footer.jsx
Due: prettier --write

Added Brands
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/ImageResize.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

Work with brands
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

some fix
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
Due: none

merge NonProfit
  src/components/Nonprofit/Footer/Footer.jsx
Due: none

some fix
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

Fixed content
  src/assets/css/style.css
  src/assets/img/nonprofit/check.svg
  src/assets/img/nonprofit/d7mobile.png
  src/assets/img/nonprofit/d7mobile@2x.png
  src/assets/img/nonprofit/m1grantor.png
  src/assets/img/nonprofit/m1grantor@2x.png
  src/assets/img/nonprofit/m5time-entry.png
  src/assets/img/nonprofit/m5time-entry@2x.png
  src/components/Header/parts/LogoSvg.jsx
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/Main.module.scss
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{json,css}) or (any of: src/**/*.js)
  eslint --fix: any of: src/**/*.js
