Repository ritaniks/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  
    "src/**/*.{json,css}": ["prettier --write"],
    "src/**/*.js": ["prettier --write", "eslint --fix"]

}

Fixed PropTypes
  src/components/Nonprofit/Main/parts/ImageResize.jsx
Due: none

some fix
  src/components/Nonprofit/Main/parts/ImageResize.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
Due: none

Finish fix first
  src/assets/css/style.css
  src/assets/img/nonprofit/quote-left.svg
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Header/Header.module.scss
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/Main.module.scss
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
  src/components/Nonprofit/Main/parts/Reviews.jsx
  src/components/Nonprofit/Main/parts/Reviews.module.scss
  src/components/Nonprofit/Main/parts/imageHelper.js
  src/components/Nonprofit/Nonprofit.module.scss
Due: prettier --write, eslint --fix

Added images
  src/assets/img/nonprofit/d1grantor.png
  src/assets/img/nonprofit/d1grantor@2x.png
  src/assets/img/nonprofit/d4e-signatures.png
  src/assets/img/nonprofit/d4e-signatures@2x.png
  src/assets/img/nonprofit/d5time-entry.png
  src/assets/img/nonprofit/d5time-entry@2x.png
  src/assets/img/nonprofit/m1grantor.png
  src/assets/img/nonprofit/m1grantor@2x.png
  src/assets/img/nonprofit/m5time-entry.png
  src/assets/img/nonprofit/m5time-entry@2x.png
  src/components/Nonprofit/Main/Main.jsx
Due: none

Fix _ CustomerTrust TL
  src/components/Nonprofit/Main/Main.jsx
Due: none

Fixed footer padding/Fixed buttons in blue section/Fixed padding in sections
  src/assets/img/nonprofit/d1grantor.png
  src/assets/img/nonprofit/d1grantor@2x.png
  src/assets/img/nonprofit/d5time-entry.png
  src/assets/img/nonprofit/d5time-entry@2x.png
  src/assets/img/nonprofit/d7mobile.png
  src/assets/img/nonprofit/d7mobile@2x.png
  src/assets/img/nonprofit/m4e-signatures.png
  src/assets/img/nonprofit/m4e-signatures@2x.png
  src/assets/img/nonprofit/m5time-entry.png
  src/assets/img/nonprofit/m5time-entry@2x.png
  src/assets/img/nonprofit/m7mobile.png
  src/assets/img/nonprofit/m7mobile@2x.png
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Footer/Footer.module.scss
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
Due: none

Edited text/Improved margin and padding in hero section and main/updated a few images
  src/assets/img/nonprofit/d7mobile.png
  src/assets/img/nonprofit/d7mobile@2x.png
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
Due: none

edit color in features
  src/components/Nonprofit/Main/parts/Hero.module.scss
Due: none

REFACT _ imageHelper, Reviews, Hero, Main / ADD _ Carousel in Hero
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
  src/components/Nonprofit/Main/parts/Reviews.jsx
  src/components/Nonprofit/Main/parts/Reviews.module.scss
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

FIX _ brands position
  src/components/Nonprofit/Main/Main.jsx
Due: none

ADD _ links for btn free trial
  src/assets/css/style.css
  src/components/App.js
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/index.js
Due: prettier --write, eslint --fix

ADD _ animated wave
  src/assets/img/nonprofit/social/wave.svg
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/WaveAnimation.jsx
  src/components/Nonprofit/Main/parts/WaveAnimation.scss
Due: none

clean code animation wave
  src/components/Nonprofit/Main/parts/WaveAnimation.scss
Due: none

some changr
  src/components/Nonprofit/Main/parts/NonProfOrg.jsx
  src/components/Nonprofit/Main/parts/WaveAnimation.scss
Due: none

some change
  src/components/Nonprofit/Main/parts/NonProfOrg.jsx
Due: none

fis conflicct deleted comment
  src/components/Nonprofit/Main/parts/Hero.jsx
Due: none

REFACT _ NonProfitOrganization / ADD _ slides
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/NonProfOrg.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.module.scss
Due: none

removed negative margin from images (row makes margin -15px) in sections/add same padding to hero/main/footer/add padding to brands/updated some photos/did 10 carousel elements/did custom waves
  src/assets/img/nonprofit/c0d5time-entry.png
  src/assets/img/nonprofit/c0d5time-entry@2x.png
  src/assets/img/nonprofit/c0m5time-entry.png
  src/assets/img/nonprofit/c0m5time-entry@2x.png
  src/assets/img/nonprofit/c1d5time-entry.png
  src/assets/img/nonprofit/c1d5time-entry@2x.png
  src/assets/img/nonprofit/c1m5time-entry.png
  src/assets/img/nonprofit/c1m5time-entry@2x.png
  src/assets/img/nonprofit/c3d5time-entry.png
  src/assets/img/nonprofit/c3d5time-entry@2x.png
  src/assets/img/nonprofit/c3m5time-entry.png
  src/assets/img/nonprofit/c3m5time-entry@2x.png
  src/assets/img/nonprofit/dhero.png
  src/assets/img/nonprofit/dhero@2x.png
  src/assets/img/nonprofit/mhero.png
  src/assets/img/nonprofit/mhero@2x.png
  src/assets/img/nonprofit/wave.svg
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/AddTimeEntry.jsx
  src/components/Nonprofit/Main/parts/AddTimeEntry.module.scss
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/WaveAnimation.scss
  src/components/Nonprofit/Main/parts/WaveHero.jsx
  src/components/Nonprofit/Main/parts/WaveHero.scss
  src/components/Nonprofit/Main/parts/imageHelper.js
Due: prettier --write, eslint --fix

fixed css
  src/assets/css/style.css
  src/components/Nonprofit/Main/parts/WaveHero.jsx
Due: prettier --write

ADD _ sendMessage
  src/components/Nonprofit/Footer/Footer.module.scss
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Nonprofit.js
  src/components/Nonprofit/Nonprofit.module.scss
  src/components/Nonprofit/SendMessage/SendMessage.jsx
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
Due: prettier --write, eslint --fix

REFACT _ code
  src/components/Nonprofit/Main/parts/AddTimeEntry.jsx
  src/components/Nonprofit/Main/parts/NonProfitAndTimeEntry.module.scss
  src/components/Nonprofit/Main/parts/NonProfitOrganization.jsx
  src/components/Nonprofit/Main/parts/NonProfitOrganization.module.scss
Due: none

FIX & REFACTS
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Main/parts/NonProfitAndTimeEntry.module.scss
  src/components/Nonprofit/Main/parts/WaveHero.scss
  src/components/Nonprofit/Nonprofit.module.scss
Due: none

STYLED _ SendMessage
  src/assets/img/nonprofit/social/chat.svg
  src/assets/img/nonprofit/social/close.svg
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/NonProfitAndTimeEntry.module.scss
  src/components/Nonprofit/SendMessage/SendMessage.jsx
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
Due: none

Edited testimonials section(replaced logos with names)/Edited Demo button(placed needed link)/LINKS SHOULD BE WHITE/Updated some images
  src/assets/img/nonprofit/c0d5time-entry.png
  src/assets/img/nonprofit/c0d5time-entry@2x.png
  src/assets/img/nonprofit/c0m5time-entry.png
  src/assets/img/nonprofit/c0m5time-entry@2x.png
  src/assets/img/nonprofit/c1d5time-entry.png
  src/assets/img/nonprofit/c1d5time-entry@2x.png
  src/assets/img/nonprofit/c1m5time-entry.png
  src/assets/img/nonprofit/c1m5time-entry@2x.png
  src/assets/img/nonprofit/c4d5time-entry.png
  src/assets/img/nonprofit/c4d5time-entry@2x.png
  src/assets/img/nonprofit/c4m5time-entry.png
  src/assets/img/nonprofit/c4m5time-entry@2x.png
  src/assets/img/nonprofit/c6d5time-entry.png
  src/assets/img/nonprofit/c6d5time-entry@2x.png
  src/assets/img/nonprofit/c6m5time-entry.png
  src/assets/img/nonprofit/c6m5time-entry@2x.png
  src/assets/img/nonprofit/c7d5time-entry.png
  src/assets/img/nonprofit/c7d5time-entry@2x.png
  src/assets/img/nonprofit/c7m5time-entry.png
  src/assets/img/nonprofit/c7m5time-entry@2x.png
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Reviews.jsx
  src/components/Nonprofit/Main/parts/Reviews.module.scss
Due: none

Replaced image with my email
  src/assets/img/nonprofit/d4e-signatures.png
  src/assets/img/nonprofit/d4e-signatures@2x.png
  src/assets/img/nonprofit/m4e-signatures.png
  src/assets/img/nonprofit/m4e-signatures@2x.png
Due: none

ADD _ style for SendMessage component
  src/components/Nonprofit/SendMessage/SendMessage.jsx
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
Due: none

clean code SendMessage
  src/components/Nonprofit/SendMessage/SendMessage.jsx
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
Due: none

clean code SendMessage
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
Due: none

FIX _ footer
  src/components/Nonprofit/Footer/Footer.jsx
  src/components/Nonprofit/Footer/Footer.module.scss
Due: none

REFACT _ main
  src/assets/css/custom.scss
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Header/Header.module.scss
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Nonprofit.js
Due: prettier --write, eslint --fix

REFACT _ main
  src/assets/css/style.css
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Main/Main.jsx
Due: prettier --write

REFACT _ Hero.jsx
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
Due: none

REFACT _ code
  src/components/Nonprofit/Main/Main.jsx
Due: none

ADD _ logic for open & close chat
  package-lock.json
  package.json
  src/components/Nonprofit/Header/Header.jsx
  src/components/Nonprofit/Header/Header.module.scss
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/Hero.jsx
  src/components/Nonprofit/Main/parts/Hero.module.scss
  src/components/Nonprofit/Nonprofit.js
  src/components/Nonprofit/SendMessage/SendMessage.jsx
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
Due: prettier --write, eslint --fix

REFACT _ blue section & SendMessage
  src/assets/css/style.css
  src/assets/img/nonprofit/team-remote-puzzlesV.png
  src/assets/img/nonprofit/team-remote-puzzlesV2.png
  src/components/Nonprofit/Main/Main.jsx
  src/components/Nonprofit/Main/parts/imageHelper.js
  src/components/Nonprofit/SendMessage/SendMessage.jsx
Due: prettier --write, eslint --fix

clean code
  src/components/Nonprofit/SendMessage/SendMessage.jsx
Due: none

REFACT _ chat btn
  src/components/Nonprofit/SendMessage/SendMessage.module.scss
Due: none
