Repository ritaniks/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "src/**/*.{json,css}": ["prettier --write", ],
    "src/**/*.js": ["prettier --write", "eslint --fix", ]
}

REFACT _ sizes for buttons (TimeEntry) #3 / REFACT _ view charts
  src/components/Main/parts/TimeEntry/TimeEntry.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/OneDayPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/PeriodPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/WeekPicker.module.scss
Due: none

REFACT _ sizes for buttons (TimeEntry) #4
  src/components/Main/parts/TimeEntry/parts/topLeft/PeriodPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/SelectUserBtn.module.scss
Due: none

REFACT _ style for allPickers calendars
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/OneDayPicker.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/PeriodPicker.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/WeekPicker.jsx
Due: none

REFACT _ ChartBtn
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/PeriodPicker.jsx
Due: none

REFACT _ AddRow button style
  src/assets/img/main/plus.svg
  src/components/Main/parts/TimeEntry/parts/AddRow.jsx
  src/components/Main/parts/TimeEntry/parts/AddRow.module.scss
Due: none

REFACT _ AddRow button style #2
  src/components/Main/parts/TimeEntry/parts/AddRow.module.scss
Due: none

REFACT _ SelectUserBtn style
  src/components/Main/parts/TimeEntry/parts/topRight/SelectUserBtn.module.scss
Due: none

ADD _ filter by user name for SelectUserBtn
  src/components/Main/parts/TimeEntry/parts/topRight/SelectUserBtn.jsx
Due: none

ADD _ to choose two dropdowns (one of is npm install react-dropdown --save)
  package-lock.json
  package.json
  src/components/Main/parts/Dashboard/Dashboard.jsx
  src/components/Main/parts/Expenses/Expenses.jsx
  src/components/Main/parts/Expenses/Expenses.module.scss
  src/components/pages/ExpensesPage.js
Due: prettier --write, eslint --fix

some fix
  src/components/Main/parts/TimeEntry/parts/topRight/SelectUserBtn.jsx
Due: none

ADD _ style for Expenses dropdown
  src/components/Main/parts/Expenses/Expenses.jsx
  src/components/Main/parts/Expenses/Expenses.module.scss
Due: none

some fix
  src/components/Main/parts/Expenses/Expenses.jsx
Due: none

ADD _ start/stop timer button
  src/assets/img/main/play.svg
  src/assets/img/main/stop.svg
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/StartTimerBtn.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/StartTimerBtn.module.scss
Due: none

ADD _ search svg
  src/assets/img/main/search.svg
Due: none

ADD _ Start/End Timer selectors and styles
  src/assets/css/style.css
  src/assets/img/main/arrows/arrow-bottom.svg
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/EndTime.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/StartEndTime.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/StartTime.jsx
  src/components/Main/parts/TimeEntry/parts/topLeft/ChartBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/SelectUserBtn.module.scss
Due: prettier --write

REFACT _ all border for root color var(--border-gray)
  src/assets/css/style.css
  src/components/Main/parts/TimeEntry/parts/topLeft/OneDayPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/PeriodPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topLeft/WeekPicker.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/GroupBtn.module.scss
  src/components/Main/parts/TimeEntry/parts/topRight/SelectUserBtn.module.scss
Due: prettier --write

CHANGE _ structure TimeEntry
  src/components/Main/parts/TimeEntry/TimeEntry.jsx
Due: none

FIX _ styles for StartTime / EndTime
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/StartEndTime.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/StartTime.jsx
Due: none

REFACT _ style css for Day.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/Duration.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/Duration.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/EndTime.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/StartEndTime.module.scss
Due: none

ADD _ select first choiсe is Duration.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/Duration.jsx
Due: none

some FIX for Duration
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/Duration.jsx
Due: none

ADD _ Work for discription
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.jsx
  src/components/Main/parts/TimeEntry/parts/main/Day/Day.module.scss
  src/components/Main/parts/TimeEntry/parts/main/Day/parts/Work.jsx
Due: none

ADD _ scroll to SelectUserBtn
  src/components/Main/parts/TimeEntry/parts/topRight/SelectUserBtn.module.scss
Due: none

ADD _ start config for Registration Form
  src/components/App.js
  src/components/Registration/Registration.jsx
  src/components/Registration/Registration.module.scss
Due: prettier --write, eslint --fix

ADD _ npm install --save react-bootstrap-wizard@latest / ADD _ structure for Wizard steps
  package-lock.json
  package.json
  src/components/Registration/Registration.jsx
  src/components/Registration/Registration.module.scss
  src/components/Registration/parts/FistStep.jsx
  src/components/Registration/parts/FourthStep.jsx
  src/components/Registration/parts/SecondStep.jsx
  src/components/Registration/parts/StartWizard.jsx
  src/components/Registration/parts/ThirdStep.jsx
Due: none

ADD _ npm reactstrap -> because is react-wizard dependencies
  package-lock.json
  package.json
  src/components/Registration/parts/FirstStep.jsx
  src/components/Registration/parts/FistStep.jsx
  src/components/Registration/parts/StartWizard.jsx
Due: none

ADD _ StartWidzard_2 -> npm i react-stepzilla
  package-lock.json
  package.json
  src/components/Registration/Registration.jsx
  src/components/Registration/parts/StartWizard_2/StartWizard_2.jsx
  src/components/Registration/parts/StartWizard_2/StartWizard_2.module.scss
Due: none

style wizard
  .vscode/settings.json
  src/components/Registration/parts/StartWizard_2/StartWizard.css
  src/components/Registration/parts/StartWizard_2/StartWizard_2.jsx
  src/components/Registration/parts/StartWizard_2/StartWizard_2.module.scss
Due: prettier --write

ADD _ tamplete for Registration
  package-lock.json
  package.json
  src/components/Registration/Registration.jsx
  src/components/Registration/parts/-StartWizard_2/StartWizard.css
  src/components/Registration/parts/-StartWizard_2/StartWizard_2.jsx
  src/components/Registration/parts/-StartWizard_2/StartWizard_2.module.scss
  src/components/Registration/parts/StartWivard_3/StartWivard_3.jsx
  src/components/Registration/parts/StartWizard.jsx
Due: prettier --write

Add _ meta initial-scale for latest browser
  public/index.html
Due: none

ADD _ template to StartWizard_3
  src/components/Registration/parts/StartWivard_3/StartWivard_3.jsx
  src/components/Registration/parts/StartWivard_3/StartWivard_3.module.scss
Due: none

some fix
  src/components/Registration/parts/StartWivard_3/StartWivard_3.jsx
Due: none

write about structure
  src/components/Registration/parts/StartWivard_3/StartWivard_3.jsx
Due: none

ADD _ links to real login in Registration
  public/index.html
  src/components/Registration/Registration.jsx
  src/components/Registration/parts/-StartWizard_2/StartWizard.css
  src/components/Registration/parts/-StartWizard_2/StartWizard_2.jsx
  src/components/Registration/parts/-StartWizard_2/StartWizard_2.module.scss
  src/components/Registration/parts/FirstStep.jsx
  src/components/Registration/parts/FourthStep.jsx
  src/components/Registration/parts/SecondStep.jsx
  src/components/Registration/parts/StartWivard3/-styleSW.scss
  src/components/Registration/parts/StartWivard3/StartWivard3.jsx
  src/components/Registration/parts/StartWivard3/StartWivard3.module.scss
  src/components/Registration/parts/StartWivard_3/StartWivard_3.jsx
  src/components/Registration/parts/StartWivard_3/StartWivard_3.module.scss
  src/components/Registration/parts/ThirdStep.jsx
Due: prettier --write

STYLES _ for StartWizard for Registration
  src/components/Registration/parts/StartWivard3/-styleSW.scss
  src/components/Registration/parts/StartWivard3/StartWivard3.jsx
  src/components/Registration/parts/StartWivard3/StartWivard3.module.scss
Due: none

ADD _ btns / ADD _ logic for btn
  .vscode/settings.json
  package-lock.json
  package.json
  public/index.html
  src/components/Registration/Registration.jsx
  src/components/Registration/parts/FirstStep.jsx
  src/components/Registration/parts/FourthStep.jsx
  src/components/Registration/parts/Modal.jsx
  src/components/Registration/parts/SecondStep.jsx
  src/components/Registration/parts/StartWivard3/-styleSW.scss
  src/components/Registration/parts/StartWivard3/StartWivard3.jsx
  src/components/Registration/parts/StartWivard3/StartWizard3.jsx
  src/components/Registration/parts/StartWivard3/StartWizard3.module.scss
  src/components/Registration/parts/StartWivard3/helperSW.js
  src/components/Registration/parts/ThirdStep.jsx
  src/components/Registration/parts/buttons/NextBtn.jsx
  src/components/Registration/parts/buttons/PrevBtn.jsx
  src/components/Registration/parts/buttons/buttons.module.scss
Due: prettier --write, eslint --fix

ADD _ logic for btn Next/Prev
  src/components/Registration/parts/FirstStep.jsx
  src/components/Registration/parts/SecondStep.jsx
  src/components/Registration/parts/StartWivard3/StartWizard3.jsx
  src/components/Registration/parts/ThirdStep.jsx
  src/components/Registration/parts/buttons/NextBtn.jsx
  src/components/Registration/parts/buttons/PrevBtn.jsx
  src/components/Registration/parts/steps.module.scss
Due: none

ADD _ icons registration
  src/assets/img/registration/check.svg
  src/assets/img/registration/settings.svg
  src/assets/img/registration/unlock.svg
  src/assets/img/registration/user-plus.svg
Due: none

ADD _ icon thumbs-up.svg
  src/assets/img/registration/thumbs-up.svg
Due: none

FIX _ header / ADD _ icons and style
  src/assets/img/registration/check.svg
  src/assets/img/registration/settings.svg
  src/assets/img/registration/unlock.svg
  src/assets/img/registration/user-plus.svg
  src/components/Registration/parts/StartWivard3/-styleSW.scss
  src/components/Registration/parts/StartWivard3/StartWizard3.jsx
  src/components/Registration/parts/StartWivard3/StartWizard3.module.scss
  src/components/Registration/parts/buttons/buttons.module.scss
Due: none
